<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于本站</title>
    <script src="../static/plugins/jquery/jquery.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/global.js"></script>
    <script src="../static/js/modal.js"></script>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plugins/animate/animate.min.css">
    <link rel="stylesheet" href="../static/css/global.css">
	<link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
<!-- 联系我们 -->
    <div class="container animate__animated animate__fadeInLeft mt-4 mb-4 p-4 dragon-container">
        <div class="card">
            <div class="card-body">
                <div class="class-title text-center">
                    联系我们
                </div>
                <p class="text-muted">姓名：黄海</p>
                <p class="text-muted">学号：19110573083</p>
                <p class="text-muted">电子邮件：1548940268@qq.com</p>
                <p class="text-muted">QQ：1548940268</p>
            </div>
        </div>
    </div>
<!-- 调查问卷 -->
    <div class="container animate__animated animate__fadeIn mt-4 mb-4 p-4 dragon-container">
		<div class="card">
			<div class="card-body">
				<div class="card-title text-center text-muted">
					调查问卷，填写以下信息<span class="text-danger">&nbsp;*<span class="text-primary">选填</span></span>
				</div>
				<form>
                    <div class="form-group">
                        <label for="cont-username" class="text-muted">姓名：</label>
                        <input type="text" class="form-control" id="cont-username"/>
                    </div>
					<div class="form-group">
                        <label for="cont-idcard" class="text-muted">学生证：</label>
                        <input type="text" class="form-control" id="cont-idcard"/>
                    </div>
                    <div class="form-group">
                        <label for="cont-email" class="text-muted">邮箱：</label>
                        <input type="email" class="form-control" id="cont-email"/>
                    </div>
                    <div class="form-group">
                        <label for="cont-phone" class="text-muted">手机<span class="text-danger">*</span>：</label>
                        <input type="text" class="form-control" id="cont-phone"/>
                    </div>
                    <div class="form-group">
                        <label for="cont-info" class="text-muted">附加信息<span class="text-danger">*</span>：</label>
                        <textarea class="form-control" placeholder="对于本网站，您有什么建议呢?" id="cont-info" rows="3"></textarea>
                    </div>
                    <div class="form-group d-flex justify-content-around">
                        <button type="button" class="btn btn-outline-primary w-45" id="submit-advice-button">提交</button>
                        <button type="reset" class="btn btn-outline-info w-45">清空</button>
                    </div>
				</form>
			</div>
		</div>
	</div>
<!-- 页脚部分 -->

	<script>
		$('#submit-advice-button').click(function() {

            let name = $('#cont-username').val()
            let idcard = $('#cont-idcard').val()
            let email = $('#cont-email').val()
            let phone = $('#cont-phone').val()
            let addon = $('#cont-info').val()

            if (name === '' || idcard === '' || email === '') {
                $('body').modalCreate('错误提示', '提交失败！请检查您的提交参数是否漏填！', '关闭', 'modal-style', 'text-danger', 'text-warning', function() {
                    window.location.href = './aboutus.html'
                })
            } else {
                $('body').modalCreate('提交成功', '恭喜您提交成功，工作人员将会在7个工作日内与您联系', '关闭', 'modal-style', 'text-primary', 'text-success', function() {
				window.location.href = './home.html'
			})
            }
		})
	</script>
</body>
</html>