<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>书籍详情</title>
    <script src="../static/plugins/jquery/jquery.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/global.js"></script>
    <script src="../static/js/waterfall.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/bookdetail.js"></script>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plugins/animate/animate.min.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/booklist.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>

    <div class="card mt-3 mb-3 container animate__animated animate__fadeInLeft" style="max-width: 850px; padding: 0;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="" class="card-img" alt="" id="book-cover">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" id="book-title"></h5>
                    <p class="card-text text-primary" id="book-id"></p>
                    <p class="card-text" id="book-author"></p>
                    <p class="card-text" id="book-price"></p>
                    <p class="card-text" id="book-count"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3 mb-3 container animate__animated animate__fadeInRight">
        <div class="card-body">
            <div class="card-title text-primary">请输入购买的数量：</div>
            <form>
                <div class="form-row">
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="input-count" value="">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-success btn-block" type="button" id="buy-button">购买</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <p class="text-primary text-center mb-0 mt-3" id="total-price"></p>
                    </div>
                </div>
            </form>
        </div>

    </div>

</body>
</html>