<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>浏览图书</title>
    <script src="../static/plugins/jquery/jquery.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/global.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/waterfall.js"></script>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plugins/animate/animate.min.css">
    <link rel="stylesheet" href="../static/css/booklist.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>

    <div class="main animate__animated animate__fadeInLeft">
        <div class="main-items">
            <div class="new-book-list">
<!--                浏览全部书籍 -->
            </div>
        </div>
    </div>

    <script>
        // 加载瀑布流，以52为间隔
        window.onload = function() {
            $('.new-book-list').waterFall(52)
        }

        window.onresize = function() {
            $('.new-book-list').waterFall(52)
        }

    </script>

</body>
</html>