<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>龙谷阅读</title>
    <script src="../static/plugins/jquery/jquery.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/global.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/waterfall.js"></script>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plugins/animate/animate.min.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/booklist.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <div class="main-body container-fluid">
        <div class="sidebar animate__animated animate__fadeInLeft">
            <div class="sidebar-item">
                <div class="header">
                    畅销图书榜
                </div>
                <hr>
                <ul class="sidebar-list">

                </ul>
            </div>
        </div>
        <div class="main animate__animated animate__fadeInRight">
            <div class="main-items">
                <div class="header">
                    新书奉献&nbsp;-&nbsp;夏有乔木，雅望天堂
                </div>
                <hr>
                <div class="new-book-list">

                </div>
            </div>
            <div class="main-items">
                <div class="header">
                    龙谷书店
                </div>
                <hr>
                <div class="book-store card">
                    <div class="card-body">
                        <div class="book-first-item">
                            <a href="./bookdetail.html?id=21">
                                <img src="../static/img/book_img/book_21.png" alt="明智的孩子">
                            </a>
                            <div class="bookstore-info">
                                <span>明智的孩子</span>
                                <span>￥26.00&nbsp;</span>
                                <span>/包邮</span>
                                <div class="book-first-info">安吉拉·卡特遗世之作，书写绚烂的女性版《百年孤独》</div>
                            </div>
                        </div>
                    </div>
                    <div class="other-book">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function() {
            $('.new-book-list').waterFall(25)
        }

        window.onresize = function() {
            $('.new-book-list').waterFall(25)
            let cWith;
            if ($(window).width() <= 1218) {
                cWith = 1218
            } else {
                cWith = '100%'
            }
            $('#logo-area').css({
                width: cWith
            })
            $('.footer-main').css({
                width: cWith
            })
        }
    </script>


</body>

</html>