<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>龙谷阅读</title>
    <script src="../static/plugins/jquery/jquery.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/global.js"></script>
    <script src="../static/js/waterfall.js"></script>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plugins/animate/animate.min.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/booklist.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light animate__animated animate__fadeIn" style="position: relative; z-index: 1500" id="logo-area">
        <a class="navbar-brand text-white" href="./home.html"><img src="../static/img/other/logo.png" alt="龙谷阅读">龙谷阅读</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="./browse.html">浏览图书</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    图书分类
                </a>
                    <div class="dropdown-menu animate__animated animate__fadeIn" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">文学艺术</a>
                        <a class="dropdown-item" href="#">青春文学</a>
                        <a class="dropdown-item" href="#">励志经典</a>
                        <a class="dropdown-item" href="#">历史形势</a>
                        <a class="dropdown-item" href="#">社会科学</a>
                        <a class="dropdown-item" href="#">旅游文化</a>
                        <a class="dropdown-item" href="#">美食时尚</a>
                        <a class="dropdown-item" href="#">少儿科学</a>
                        <a class="dropdown-item" href="#">时事政治</a>
                        <a class="dropdown-item" href="#">其他全部</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">图书排行</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">图书下载</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="./aboutus.html">关于本站</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="searchBox" type="search" placeholder="标题搜索" aria-label="Search">
                <button class="btn btn-info my-2 my-sm-0" type="button" id="search">搜索</button>
                <button class="btn btn-success my-2 my-sm-0 ml-3" type="button" id="loginRef">登录</button>
            </form>
        </div>
    </nav>

    <div class="main-body container-fluid">
        <div class="sidebar animate__animated animate__backInLeft">
            <div class="sidebar-item">
                <div class="header">
                    畅销图书榜
                </div>
                <hr>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <span>1.</span>
                        <div class="list-item">
                            <a href="#" class="title">你就是孩子最好的玩具</a>
                            <div class="author">金伯莉·布雷恩</div>
                        </div>
                        <a class="buy-link" href="#">
                            <span class="buy-button">去购买</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <span>2.</span>
                        <div class="list-item">
                            <a href="#" class="title">钝感力</a>
                            <div class="author">[日] 渡边淳一</div>
                        </div>
                        <a class="buy-link" href="#">
                            <span class="buy-button">去购买</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <span>3.</span>
                        <div class="list-item">
                            <a href="#" class="title">你当像鸟飞往你的山</a>
                            <div class="author">[美] 塔拉·韦斯特弗</div>
                        </div>
                        <a class="buy-link" href="#">
                            <span class="buy-button">去购买</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <span>4.</span>
                        <div class="list-item">
                            <a href="#" class="title">人间失格</a>
                            <div class="author">太宰治</div>
                        </div>
                        <a class="buy-link" href="#">
                            <span class="buy-button">去购买</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <span>5.</span>
                        <div class="list-item">
                            <a href="#" class="title">正面管教</a>
                            <div class="author">[美]简·尼尔森 (Jane Nelsen)</div>
                        </div>
                        <a class="buy-link" href="#">
                            <span class="buy-button">去购买</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <span>6.</span>
                        <div class="list-item">
                            <a href="#" class="title">人生海海</a>
                            <div class="author">麦家</div>
                        </div>
                        <a class="buy-link" href="#">
                            <span class="buy-button">去购买</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <span>7.</span>
                        <div class="list-item">
                            <a href="#" class="title">小熊和最好的爸爸（全7册）</a>
                            <div class="author">阿兰德·丹姆 文/亚历克斯·沃尔弗 图</div>
                        </div>
                        <a class="buy-link" href="#">
                            <span class="buy-button">去购买</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <span>8.</span>
                        <div class="list-item">
                            <a href="#" class="title">乌合之众</a>
                            <div class="author">[法] 古斯塔夫.勒庞</div>
                        </div>
                        <a class="buy-link" href="#">
                            <span class="buy-button">去购买</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <span>9.</span>
                        <div class="list-item">
                            <a href="#" class="title">张嘉骅少年读经典系列</a>
                            <div class="author"></div>
                        </div>
                        <a class="buy-link" href="#">
                            <span class="buy-button">去购买</span>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <span>10.</span>
                        <div class="list-item">
                            <a href="#" class="title">中华人民共和国民法典：实用版</a>
                            <div class="author">中国法制出版社 编</div>
                        </div>
                        <a class="buy-link" href="#">
                            <span class="buy-button">去购买</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main animate__animated animate__backInRight">
            <div class="main-items">
                <div class="header">
                    新书奉献&nbsp;-&nbsp;夏有乔木，雅望天堂
                </div>
                <hr>
                <div class="new-book-list">
                    <div class="card new-book-item" book-id = "1">
                        <a href="#">
                            <img src="../static/img/book_img/book_1.jpg" class="card-img-top" alt="散步的侵略者">
                        </a>
                        <div class="card-body new-book-item-body">
                            <a class="card-title new-book-item-title text-center" href="#">
                                散步的侵略者
                            </a>
                            <p class="card-text new-book-item-text">
                                [日]前川知大
                            </p>
                        </div>
                    </div>
                    <div class="card new-book-item"  book-id = "2">
                        <a href="#">
                            <img src="../static/img/book_img/book_2.jpg" class="card-img-top" alt="散步的侵略者">
                        </a>
                        <div class="card-body new-book-item-body">
                            <a class="card-title new-book-item-title text-center" href="#">
                                三十年战争史
                            </a>
                            <p class="card-text new-book-item-text">
                                [英] 彼得·威尔逊
                            </p>
                        </div>
                    </div>
                    <div class="card new-book-item" book-id = "3">
                        <a href="#">
                            <img src="../static/img/book_img/book_3.jpg" class="card-img-top" alt="散步的侵略者">
                        </a>
                        <div class="card-body new-book-item-body">
                            <a class="card-title new-book-item-title text-center" href="#">
                                六十个故事
                            </a>
                            <p class="card-text new-book-item-text">
                                [意] 迪诺·布扎蒂
                            </p>
                        </div>
                    </div>
                    <div class="card new-book-item" book-id = "4">
                        <a href="#">
                            <img src="../static/img/book_img/book_4.jpg" class="card-img-top" alt="散步的侵略者">
                        </a>
                        <div class="card-body new-book-item-body">
                            <a class="card-title new-book-item-title text-center" href="#">
                                诗人的思考
                            </a>
                            <p class="card-text new-book-item-text">
                                (美) 海伦·文德勒
                            </p>
                        </div>
                    </div>
                    <div class="card new-book-item" book-id = "5">
                        <a href="#">
                            <img src="../static/img/book_img/book_5.jpg" class="card-img-top" alt="散步的侵略者">
                        </a>
                        <div class="card-body new-book-item-body">
                            <a class="card-title new-book-item-title text-center" href="#">
                                项塔兰3
                            </a>
                            <p class="card-text new-book-item-text">
                                [澳大利亚]格里高利·大卫·罗伯兹
                            </p>
                        </div>
                    </div>
                    <div class="card new-book-item" book-id = "6">
                        <a href="#">
                            <img src="../static/img/book_img/book_6.jpg" class="card-img-top" alt="散步的侵略者">
                        </a>
                        <div class="card-body new-book-item-body">
                            <a class="card-title new-book-item-title text-center" href="#">
                                黑镜
                            </a>
                            <p class="card-text new-book-item-text">
                                [英] 查利·布鲁克 / 安娜贝尔·琼斯
                            </p>
                        </div>
                    </div>
                    <div class="card new-book-item" book-id = "7">
                        <a href="#">
                            <img src="../static/img/book_img/book_7.jpg" class="card-img-top" alt="散步的侵略者">
                        </a>
                        <div class="card-body new-book-item-body">
                            <a class="card-title new-book-item-title text-center" href="#">
                                抓落叶
                            </a>
                            <p class="card-text new-book-item-text">
                                [美]汤米·巴特勒
                            </p>
                        </div>
                    </div>
                    <div class="card new-book-item" book-id = "8">
                        <a href="#">
                            <img src="../static/img/book_img/book_8.jpg" class="card-img-top" alt="散步的侵略者">
                        </a>
                        <div class="card-body new-book-item-body">
                            <a class="card-title new-book-item-title text-center" href="#">
                                漫步八十年代
                            </a>
                            <p class="card-text new-book-item-text">
                                老葛
                            </p>
                        </div>
                    </div>
                    <div class="card new-book-item" book-id = "9">
                        <a href="#">
                            <img src="../static/img/book_img/book_9.jpg" class="card-img-top" alt="散步的侵略者">
                        </a>
                        <div class="card-body new-book-item-body">
                            <a class="card-title new-book-item-title text-center" href="#">
                                一千亿种生活
                            </a>
                            <p class="card-text new-book-item-text">
                                [英] 蕾秋·乔伊斯
                            </p>
                        </div>
                    </div>
                    <div class="card new-book-item" book-id = "10">
                        <a href="#">
                            <img src="../static/img/book_img/book_10.jpg" class="card-img-top" alt="散步的侵略者">
                        </a>
                        <div class="card-body new-book-item-body">
                            <a class="card-title new-book-item-title text-center" href="#">
                                电影时代
                            </a>
                            <p class="card-text new-book-item-text">
                                [美] 保琳·凯尔
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-items">
                <div class="header">
                    龙谷书店
                </div>
                <hr>
                <div class="book-store card">
                    <div class="card-body">
                        <div class="book-first-item">
                            <a href="#">
                                <img src="../static/img/book_img/store_1.png" alt="">
                            </a>
                            <div class="bookstore-info">
                                <span>明智的孩子</span>
                                <span>￥54.00&nbsp;</span>
                                <span>/包邮</span>
                                <div class="book-first-info">安吉拉·卡特遗世之作，书写绚烂的女性版《百年孤独》</div>
                            </div>
                        </div>
                    </div>
                    <div class="other-book">
                        <div class="book-item">
                            <a href="#">
                                <img src="../static/img/book_img/store_2.png" alt="">
                            </a>
                            <div class="bookstore-info">
                                <div>乔乔的奇妙冒险</div>
                                <div>￥88.00</div>
                            </div>
                        </div>
                        <div class="book-item">
                            <a href="#">
                                <img src="../static/img/book_img/store_3.png" alt="">
                            </a>
                            <div class="bookstore-info">
                                <div>平行宇宙的艺术</div>
                                <div>￥117.60</div>
                            </div>
                        </div>
                        <div class="book-item">
                            <a href="#">
                                <img src="../static/img/book_img/store_4.png" alt="">
                            </a>
                            <div class="bookstore-info">
                                <div>冯至译文全集（钤印版）</div>
                                <div>￥239.00</div>
                            </div>
                        </div>
                        <div class="book-item">
                            <a href="#">
                                <img src="../static/img/book_img/store_5.png" alt="">
                            </a>
                            <div class="bookstore-info">
                                <div>碎片</div>
                                <div>￥49.00</div>
                            </div>
                        </div>
                        <div class="book-item">
                            <a href="#">
                                <img src="../static/img/book_img/store_6.png" alt="">
                            </a>
                            <div class="bookstore-info">
                                <div>刘勃历史三部曲</div>
                                <div>￥88.00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 页脚部分 -->
    <div class="footer-main animate__animated animate__fadeIn">
        <div class="container">
            <div class="footer-header">
                合作伙伴
            </div>
            <div class="friend-website">
                <a href="#" class="friend-link">掌阅书城</a>
            </div>
            <div class="copy-right">
                Copyright 2020 龙谷书城 All Rights Reserved.
            </div>
        </div>
    </div>

    <script>
        window.onload = function() {
            $('.new-book-list').waterFall(25)
        }

        window.onresize = function() {
            $('.new-book-list').waterFall(25)
            let cWith;
            if ($(window).width() <= 1218) {
                cWith = 1218
            } else {
                cWith = '100%'
            }
            $('#logo-area').css({
                width: cWith
            })
            $('.footer-main').css({
                width: cWith
            })
        }
    </script>


</body>

</html>