<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>龙谷阅读</title>
    <script src="../static/plugins/jquery/jquery.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/global.js"></script>
    <script src="../static/js/modal.js"></script>
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/plugins/animate/animate.min.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

    <div class="animate__animated animate__fadeIn absolute-center" id="title">
        <a href="./home.html" class="text-title" id="mainLink">书中自有黄金屋，书中自有颜如玉</a>
        <div class="mt-5 h5 text-white text-center">龙谷书城，一个书友们的狂欢会</div>
    </div>

</body>
</html>